<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echoofmemories.project.mapper.MessageMapper">

    <select id="selectMyMessagePage" resultType="com.echoofmemories.project.entity.Message">
        SELECT *
        FROM message
        WHERE deleted = 0 AND receiver_id = #{receiverId}
        <if test="isRead != null">
            AND is_read = #{isRead}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="selectUnreadCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM message
        WHERE deleted = 0 AND receiver_id = #{receiverId} AND is_read = 0
    </select>

</mapper>
